:root {
    --font-1: "Inter", sans-serif;
    --section-gap: 25px;
    --border-radius-1: 8px;
}
html,
body {
    scroll-behavior: smooth;
    overflow: hidden;
}

body {
    padding: var(--section-gap);
    background: #0D1A26FF;
    color: #D9E6F2FF;
    min-height: 100vh;
}
.row {
    display: flex;
    gap: var(--section-gap);
    height: 100%;
}

.disable-scrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
.searchresults {
    max-height: 95vh;
    max-width: 800px;
    padding: var(--section-gap);
    overflow: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conversation {
    width: 100%;
    min-height: 50%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.conversation #messages {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    overflow-y: inherit;
    overflow-x: hidden;
    padding-bottom: 50px;
}

.conversation .user-input {
    max-height: 10vh;
}

.conversation .user-input input {
    font-size: 15px;
    width: 100%;
    height: 100%;
    padding: 12px 15px;
    background: none;
    border: none;
    outline: none;
    color: #132739FF;
}

.conversation .user-input input::placeholder {
    color: #132739FF;
}

.conversation .user-input textarea {
    font-size: 15px;
    width: 100%;
    height: 100%;
    padding: 12px 15px;
    background: none;
    border: none;
    outline: none;
    color: #74b4ec;

    resize: vertical;
    max-height: 150px;
    min-height: 80px;
}

.stop_generating {
    position: absolute;
    bottom: 118px;
    /* left: 10px;
    bottom: 125px;
    right: 8px; */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000000;
}
.stop_generating button {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: #16101b66;
    border-radius: 8px;
    border: 1px solid #84719040;
    padding: 10px 15px;
    color: #74b4ec;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    animation: show_popup 0.4s;
}


.buttons {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: #16101b66;
    border-radius: 8px;
    border: 1px solid #84719040;
    padding: 10px 15px;
    color: #74b4ec;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    animation: show_popup 0.4s;
    margin-left: 3px;
}
.box {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: #84719040;
    height: 85%;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #84719040;
}

.input-box {
    display: flex;
    align-items: center;
    padding-right: 15px;
    cursor: pointer;
}

.stop_generating-hiding button {
    animation: hide_popup 0.4s;
}

.stop_generating-hidden button {
    display: none;
}
.resultbox{

}
.searchresults .rcontent {
    font-size: 10px;
    user-select: none;
    width: 100%; /* 또는 특정 너비를 지정 */
    word-wrap: break-word; /* 구버전 브라우저 호환성을 위해 */
    overflow-wrap: break-word; /* 표준 속성 */
}

.searchresults .search-content {
    padding: 8px 12px;
    gap: 18px;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    width: 100%; /* 또는 특정 너비를 지정 */
    word-wrap: break-word; /* 구버전 브라우저 호환성을 위해 */
    overflow-wrap: break-word; /* 표준 속성 */
}

.message {

    width: 100%;
    overflow-wrap: break-word;
    display: flex;
    gap: var(--section-gap);
    padding: var(--section-gap);
    padding-bottom: 0;
}

.message:last-child {
    animation: 0.6s show_message;
}

@keyframes show_message {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
}

.message .user {
    max-width: 48px;
    max-height: 48px;
    flex-shrink: 0;
}

.message .user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    outline: 1px solid var(--blur-border);
}

.message .user:after {
    content: "63";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 60%;
    width: 60%;
    background: #84719040;
    filter: blur(10px) opacity(0.5);
    z-index: 10000;
}

.message .content {
    display: flex;
    flex-direction: column;
    gap: 18px;
    min-width: 0;
}

.message .content p,
.message .content li,
.message .content code {
    font-size: 15px;
    line-height: 1.3;
}

.message .user i {
    position: absolute;
    bottom: -6px;
    right: -6px;
    z-index: 1000;
}


/*대화 내용 저장*/
.new_convo {
    padding: 8px 12px;
    display: flex;
    gap: 18px;
    align-items: center;
    cursor: pointer;
    user-select: none;
    background: transparent;
    border: 1px dashed #74b4ec;
    border-radius: var(--border-radius-1);
}

.new_convo span {
    color: #74b4ec;
    font-size: 14px;
}

.new_convo:hover {
    border-style: solid;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 45%;
    width: 20px;
    height: 20px;

    border-radius: 50%;
    border: 1px solid #74b4ec;
    border-top-color: white;
    animation: spinner .6s linear infinite;
}

.bottom_buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottom_buttons button {
    padding: 8px 12px;
    display: flex;
    gap: 18px;
    align-items: center;
    cursor: pointer;
    user-select: none;
    background: transparent;
    border: 1px solid #74b4ec;
    border-radius: var(--border-radius-1);
    width: 100%;
}

.bottom_buttons button span {
    color: #74b4ec;
    font-size: 14px;
}
.conversations {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: auto;
    min-width: 0;
}

.conversations .title {
    font-size: 14px;
    font-weight: 500;
}

.conversations .convo {
    padding: 8px 12px;
    display: flex;
    gap: 18px;
    align-items: center;
    user-select: none;
    justify-content: space-between;
}

.conversations .convo .left {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    flex: auto;
    min-width: 0;
}

.conversations i {
    color: #74b4ec;
    cursor: pointer;
}
.convo-title {
    color: #74b4ec;
    font-size: 14px;
    white-space: nowrap; /* 텍스트를 줄바꿈하지 않고 한 줄로 처리 */
    overflow: hidden;
    text-overflow: ellipsis;
}
.conversations {
    max-width: 260px;
    padding: var(--section-gap);
    overflow: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conversations .top {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: auto;
}
#cursor {
    line-height: 17px;
    margin-left: 3px;
    -webkit-animation: blink 0.8s infinite;
    animation: blink 0.8s infinite;
    width: 7px;
    height: 15px;
}

/* 모달창 스타일 */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

/* 모달 컨텐츠 스타일 */
.modal-content {
    background-color: #0D1A26FF;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* 닫기 버튼 스타일 */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color:  #888;
    text-decoration: none;
    cursor: pointer;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #0D1A26FF;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: rgba(132, 113, 144, 0.15);
    border-radius: 20px;
}

#add_convo {
    overflow: auto;
    max-height: 73vh;
}