:root {
    --font-1: "Inter", sans-serif;
    --section-gap: 25px;
    --border-radius-1: 8px;
}
html,
body {
    scroll-behavior: smooth;
    overflow: hidden;
}

body {
    padding: var(--section-gap);
    background: #0D1A26FF;
    color: #D9E6F2FF;
    min-height: 100vh;
}
.row {
    display: flex;
    gap: var(--section-gap);
    height: 100%;
    /*overflow: auto;*/
}

.disable-scrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
.searchresults {
    max-height: 95vh;
    max-width: 800px;
    padding: var(--section-gap);
    overflow: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conversation {
    width: 100%;
    min-height: 50%;
    height: 95vh;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.conversation #messages {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    overflow-y: inherit;
    overflow-x: hidden;
    padding-bottom: 50px;
    padding-top: 20px;
}

.conversation .user-input {
    max-height: 10vh;
}

.conversation .user-input input {
    font-size: 15px;
    width: 100%;
    height: 100%;
    padding: 12px 15px;
    background: none;
    border: none;
    outline: none;
    color: #132739FF;
}

.conversation .user-input input::placeholder {
    color: #132739FF;
}

.conversation .user-input textarea {
    font-size: 15px;
    width: 100%;
    height: 100%;
    padding: 12px 15px;
    background: none;
    border: none;
    outline: none;
    color: #74b4ec;

    resize: vertical;
    max-height: 80px;
    min-height: 80px;
}

.stop_generating {
    position: absolute;
    bottom: 118px;
    /* left: 10px;
    bottom: 125px;
    right: 8px; */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000000;
}
.stop_generating button {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: #16101b66;
    border-radius: 8px;
    border: 1px solid #84719040;
    padding: 10px 15px;
    color: #74b4ec;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    animation: show_popup 0.4s;
}


.buttons {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: #16101b66;
    border-radius: 8px;
    border: 1px solid #84719040;
    padding: 10px 15px;
    color: #74b4ec;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    animation: show_popup 0.4s;
    margin-left: 3px;
}
.buttons:disabled {
);
    background-color: #84719040;
}
.box {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: #84719040;
    height: 85%;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #84719040;
}

.input-box {
    display: flex;
    align-items: center;
    padding-right: 15px;
    cursor: pointer;
}

.stop_generating-hiding button {
    animation: hide_popup 0.4s;
}

.stop_generating-hidden button {
    display: none;
}
.resultbox{

}
.searchresults .rcontent {
    font-size: 10px;
    user-select: none;
    width: 100%; /* 또는 특정 너비를 지정 */
    word-wrap: break-word; /* 구버전 브라우저 호환성을 위해 */
    overflow-wrap: break-word; /* 표준 속성 */
}

.searchresults .search-content {
    padding: 8px 12px;
    gap: 18px;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    width: 100%; /* 또는 특정 너비를 지정 */
    word-wrap: break-word; /* 구버전 브라우저 호환성을 위해 */
    overflow-wrap: break-word; /* 표준 속성 */
}

.message {

    width: 100%;
    overflow-wrap: break-word;
    display: flex;
    gap: var(--section-gap);
    padding: var(--section-gap);
    padding-bottom: 0;
}

.message:last-child {
    animation: 0.6s show_message;
}

@keyframes show_message {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
}

.message .user {
    max-width: 48px;
    max-height: 48px;
    flex-shrink: 0;
    user-select: none;
}

.message .user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    outline: 1px solid var(--blur-border);
}

.message .user:after {
    content: "63";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 60%;
    width: 60%;
    background: #84719040;
    filter: blur(10px) opacity(0.5);
    z-index: 10000;
}

.message .content {
    display: flex;
    flex-direction: column;
    gap: 18px;
    min-width: 0;
}

.message .content p,
.message .content li,
.message .content code {
    font-size: 15px;
    line-height: 1.3;
}

.message .user i {
    position: absolute;
    bottom: -6px;
    right: -6px;
    z-index: 1000;
}


/*대화 내용 저장*/
.new_convo {
    padding: 8px 12px;
    display: flex;
    gap: 18px;
    align-items: center;
    cursor: pointer;
    user-select: none;
    background: transparent;
    border: 1px dashed #74b4ec;
    border-radius: var(--border-radius-1);
}

.new_convo span {
    color: #74b4ec;
    font-size: 14px;
}

.new_convo:hover {
    border-style: solid;
}

.spinner {
    display: none;
    border: 7px solid rgba(0, 0, 0, 0.1);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease-in-out infinite;

    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000000;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.bottom_buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottom_buttons button {
    padding: 8px 12px;
    display: flex;
    gap: 18px;
    align-items: center;
    cursor: pointer;
    user-select: none;
    background: transparent;
    border: 1px solid #74b4ec;
    border-radius: var(--border-radius-1);
    width: 100%;
}
.bottom_buttons select {
    color: #74b4ec;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: transparent;
    border: 1px solid #74b4ec;
    border-radius: var(--border-radius-1);
    width: 100%;
}
.bottom_buttons select option {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    background: transparent;
    border: 1px solid #74b4ec;
    border-radius: var(--border-radius-1);
    width: 100%;
}

.bottom_buttons button span {
    color: #74b4ec;
    font-size: 14px;
}
.conversations {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: auto;
    min-width: 0;
}

.conversations .title {
    font-size: 14px;
    font-weight: 500;
}

.conversations .convo {
    padding: 8px 12px;
    display: flex;
    gap: 18px;
    align-items: center;
    user-select: none;
    justify-content: space-between;
}

.conversations .convo .left {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    flex: auto;
    min-width: 0;
}

.conversations i {
    color: #74b4ec;
    cursor: pointer;
}
.convo-title {
    color: #74b4ec;
    font-size: 14px;
    white-space: nowrap; /* 텍스트를 줄바꿈하지 않고 한 줄로 처리 */
    overflow: hidden;
    text-overflow: ellipsis;
}
.conversations {
    max-width: 260px;
    padding: var(--section-gap);
    overflow: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conversations .top {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: auto;
}
#cursor {
    line-height: 17px;
    margin-left: 3px;
    -webkit-animation: blink 0.8s infinite;
    animation: blink 0.8s infinite;
    width: 7px;
    height: 15px;
}
@keyframes blink {
    0% {
        background: #ffffff00;
    }

    50% {
        background: white;
    }

    100% {
        background: #ffffff00;
    }
}

@-webkit-keyframes blink {
    0% {
        background: #ffffff00;
    }

    50% {
        background: white;
    }

    100% {
        background: #ffffff00;
    }
}
/* 모달창 스타일 */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 90%; /* width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

/* 모달 컨텐츠 스타일 */
.modal-content {
    background-color: #0D1A26FF;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}
.modal-content p{
    text-align: center;
    width: 95%;
    cursor: move;
    user-select: none;
}
/* 닫기 버튼 스타일 */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color:  #888;
    text-decoration: none;
    cursor: pointer;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #0D1A26FF;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: rgba(132, 113, 144, 0.15);
    border-radius: 20px;
}

#add_convo {
    overflow: auto;
    max-height: 67vh;
}

.bwCom {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    height: 100%;
}

.bwCom-Box {
    padding: 20px; /* 내용과 테두리 사이의 여백 */
    text-align: center; /* 텍스트 중앙 정렬 */
    font-size: 30px;
}

/* 체크박스 */
#toggle-slider {
    display: none;
}

.toggle-label {
    margin-left: 5px;
    text-indent: -999em;
    cursor: pointer;
    width: 50px;
    height: 25px;
    background-color: #e0e0e0;
    border-radius: 25px;
    position:relative;
    transition: 0.5s ease-out;
}

.toggle-label::after {
    content: '';
    width: 15px;
    height: 15px;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    top: 5px;
    left: 5px;
    transition: 0.5s ease-out;
}

#toggle-slider:checked + label {
    background-color: #74b4ec;
}

#toggle-slider:checked + label::after {
    left:calc(100% - 20px);
    background-color: #fff;
}

.loginId {
    margin-top: 30px;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    border: 1px solid #e5e5e5;
    padding: 9px 12px;
    outline: none;
    box-sizing: border-box;
}
input::placeholder {
    color: #999999;
}
.loginPw {
    margin-top: 15px;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    border: 1px solid #e5e5e5;
    padding: 9px 12px;
    outline: none;
    box-sizing: border-box;
}
.loginBtn {
    float: right;
    height: 40px;
    font-size: 14px;
    padding: 13px 30px;
    cursor: pointer;
    background-color: black;
    color: white;
    line-height: 1px;
    margin-top: 20px;
    margin-bottom: 12px;
    border-radius: 3px;
    border-style: none;
}

/**
상단 메뉴바
 */
nav{
    font-size: 12pt;
    font-family: 'PT Sans', Arial, Sans-serif;
    position: relative;
}
nav ul{
    padding: 0;
    margin: 0 auto;
    width: auto;
}
nav li{
}
nav a{
    line-height: 50px;
    height: 50px;
}
nav li a{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
nav li:last-child a{
    border-right: 0;
}
nav a:hover, nav a:active{
}
nav a#pull{
    display: none;
}
html {
    -webkit-touch-callout:none;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

ul{
    /*list-style-type: none;*/
    margin: 0;
    padding: 0;
    background-color: #2B2F40;
    text-align: center;
}
li{
    /*position: relative;*/
    display: inline-block;
}
li a{
    color: #FFFFFF;
    text-align: center;
    padding: 14.5px 16px;
    text-decoration: none;
}
li a:hover{
    /*color: #597812;*/
    color: #74b4ec;
    font-weight:normal;
}
.menu {
    width: 5000px;
    height: 45px;
    text-align: center;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    background-color: #333333;color: white;
    /*position: absolute;z-index: 1;*/
    position: relative;
    margin-bottom: 10px;
}

/*테이블*/
.table-wrapper {
    width: 100%; /* 또는 원하는 % 또는 px로 설정 */
    height: 100%;
    margin: auto; /* 중앙 정렬 */
    overflow: auto;
}

.table-wrapper .table-wrapper-box {
    height: 100%;
}
.user-table {
    width: 100%; /* div에 꽉 차게 */
    border-collapse: collapse; /* 테이블 사이 간격 없애기 */
    text-align: center;
    table-layout: fixed;
    border-spacing: 0;
}
.user-table tr td{
    padding: 5px;
}
.user-table tr:nth-child(even) {
  background-color: #16101b66;
}
.user-table tr:nth-child(odd) {
  background-color: #2B2F40;
}
.user-table th {
  background-color: black;
  color: white;
  padding: 12px;
}
.user-table .noBorder {
    border:none !important;
}

.button-manage{
    height: 20px;
    font-size: 15px;
    padding: 15px 15px;
    cursor: pointer;
    color: white;
    line-height: 1px;
    border-radius: 3px;
    border-style: none;
    font-weight: bold;
}
.user-update{
    background-color: rgba(0, 100, 0, 0.32);
}
.user-delete{
    background-color: rgba(139, 0, 0, 0.53);
    margin-left: 5px;
}

/**
로그파일 출력
 */
#logfilePrintBox{
    flex-grow: 1;
    padding: 12px;
    width: 100%; /* 또는 원하는 % 또는 px로 설정 */
    height: 100%;
    overflow: auto;
    white-space: pre-wrap; /* 공백과 줄바꿈 보존 */
}



/* 드롭다운 버튼 스타일 */
.dropbtn {
    background-color: transparent;
    font-size: 16px;
    padding: 8px 12px;
    align-items: center;
    cursor: pointer;
    user-select: none;
    color: #74b4ec;
    width: 100%;
    border: none; /* 테두리 제거 */
}

/* 드롭다운 내용을 담는 컨테이너 */
.dropdown {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: inline-block;
}

/* 드롭다운 항목 스타일 */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2B2F40;
    min-width: 160px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}

/* 링크 스타일 */
.dropdown-content span {
    color: #74b4ec;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

/* 마우스 호버 시 링크 스타일 */
.dropdown-content a:hover {background-color: #84719040;}


.show {
    display: block;
}

.logfile-name{
    font-size: 20px;
    font-weight: bold;
    padding: 12px;
}

.upload-box{
    padding: 30px;
}

.upload-box-group{
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 10px;
    display: table;
    content: " ";
    width: 100%;
}

.form-control{
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px;
    width: 90%;
}
.label-control{
    width: 10%;
    position: relative;
    float: left;
    margin: 5px;
    padding: 6px 12px;
}

.ln_solid {
    border-top: 1px solid #e5e5e5;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 20px 0
}
.col-box{
    position: relative;
    width: 33%;
    float: left;
}